.japanpost-label {
  color: #fff;
  padding:  2px 5px;
  font-size: 12px
}
.japanpost-airmail {
  background-color: #33ace2;
}
.japanpost-sal {
  background-color: yellowgreen;
}
.success-icon {
  color: #23d156
}
.error-icon {
  color: #ff3860
}