@import 'node_modules/bulma/sass/utilities/functions';
@import 'node_modules/bulma/sass/utilities/variables';
$primary: #f4402e;
$link: #f4402e;
$size-normal: 16px;
@import 'node_modules/bulma/sass/utilities/controls';
@import 'node_modules/bulma/sass/utilities/mixins';


@import 'node_modules/bulma/sass/base/all';
@import 'node_modules/bulma/sass/layout/all';
@import 'node_modules/bulma/sass/grid/all';

// Components
$nav-height: 64px;
@import 'node_modules/bulma/sass/components/nav';
@import 'node_modules/bulma/sass/components/tabs';
@import 'node_modules/bulma/sass/components/level';
@import 'node_modules/bulma/sass/components/media';

// Elements
@import 'node_modules/bulma/sass/elements/table';
@import 'node_modules/bulma/sass/elements/title';
@import 'node_modules/bulma/sass/elements/box';
@import 'node_modules/bulma/sass/elements/other';

.table {
  td {
    vertical-align: middle;
  }
}
